.panel {

  border-radius: 3px;
  width: 272px;
  margin-right: 12px;
  overflow: auto;
  height: calc(100% - 40px);
  vertical-align: top;

  .inner {
      max-height: 100%;
      background: #dfe3e6;
      position: relative;
  }

  .items {
    padding: 12px 12px 0 12px;
    height: 100%;
    overflow: auto;
  }

  .title {
    padding: 12px;
    padding-bottom: 0px;
  }
}
